/* PHASE 11: Icons */




[class*="icon-"] {
    display: inline-block;
    background-image: url(../docs/images/sprite.png);
    background-size: 25px 250px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    padding-top: 25px;
}

.icon-comment {
 background-position: 0 0;
}